.aacgfe_popup_button {
    display: flex;
    gap: 33px;
    justify-content: center;
}
.aacgfe_popbox_tokendata {
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.aacgfe_popbox_tokendata span {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}
.aacgfe_popbox_tokendata h6 {
  margin: 0px !important;
}
.aacgfe_popbox_tokendata p {
  padding: .2em .6em;
  margin-bottom: 0px;
}
.accg_popup_main_div {
  display: flex;
  flex-wrap: nowrap;
}
.accg_popup_main_div button{
  margin-right: 4px;
}
.aacgfe-modal-main-wrp .swal2-title{
  margin-top: 2px;
}
.aacgfe-modal-main-wrp .swal2-textarea {
  height: 200px !important;
  padding: 7px;
    margin-top: 0px;
}